<div style="background-color: #f2f2f4;">
    <div style="background-color: white;" class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-12 text-end">
            <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="ini()" >Inicio</button>
            <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="logOut()" >Desloguearse</button>
          </div>
        </header>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a style="color: #E31E27;" (click)="entrantes()" class="nav-link px-2">ENTRANTES</a></li>
          <li><a style="color: #E31E27;" (click)="ensaladas()" class="nav-link px-2">ENSALADAS</a></li>
          <li><a style="color: #E31E27;" (click)="principales()" class="nav-link px-2">PRINCIPALES</a></li>
          <li><a style="color: #E31E27;" (click)="sandwi()" class="nav-link px-3">SANDWICHES</a></li>
          <li><a style="color: #E31E27;" (click)="hambu()" class="nav-link px-3">HAMBURGUESAS</a></li>
          <li><a style="color: #777474;" class="nav-link px-3">POSTRES</a></li>
          <li><a style="color: #E31E27;" (click)="bebidas()" class="nav-link px-3">BEBIDAS</a></li>
        </ul>
      </div>
    
    <H1 style="margin: 100px; text-align: center;"> POSTRES </H1>
    
    <div style="background-color: #f2f2f4;" class="container">
      <div class="row">
        <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">BATIDOS</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/postre/batidos.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Batidos de fresa, vainilla, chocolate blanco, yogur con arándanos o chocolate belga. Disponible también sin nata y sirope.</p>
                  </div>
              </div>
            </div>
          </div>
        <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">BROWNIE</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/postre/brownie.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Bizcocho caliente de chocolate, con nueces, cubierto por un helado de vainilla y con salsa de chocolate fundido.</p>
                  </div>
              </div>
            </div>
          </div>
        <div style="margin-top: 60px;" class="col-sm-4">
          <div class="card">
            <div  class="card-body">
              <h5 class="card-title">FRUTA DE TEMPORADA</h5>
              <div class="card-text">
              <img class="logo" src="../../../assets/img/postre/fruta.jpg" alt="login">
              <p class="card-text" style="margin-top: 30px;">Selección de frutas de temporada.</p>
                </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">HELADO</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/postre/helado.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Dos bolas de helado a elegir: fresa, vainilla, chocolate blanco, yogur con arándanos o chocolate belga.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">Tarta Choco&Caramel</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/postre/tartacaramelo.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Esponjoso bizcocho con mousse de caramelo, crema de caramelo salado y recubierto de bombón, acompañada de nata montada VIPS y caramelo efervescente.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">TARTA DE QUESO</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/postre/tartaqueso.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Tarta templada de queso con toques ahumados, textura muy cremosa y base crujiente de galleta. </p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">FRENCH TOAST</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/postre/toast.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Con fresas, arándanos, crema de queso, mermelada de frutos rojos y muesli crujiente.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">TORTITAS</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/postre/tortitas.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Tortitas recién hechas con nata montada VIPS y sirope de chocolate, caramelo o fresa.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">TORTITAS CON ARÁNDANOS</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/postre/tortitasaranda.png" alt="login">
                <p class="card-text" style="margin-top: 30px;">Tortitas recién hechas con nata montada VIPS y sirope de arándano.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">TORTITAS CON DULCE DE LECHE</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/postre/tortitasleche.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Tortitas recién hechas con dulce de leche, plátano y nueces acompañadas de nata montada VIPS.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">VASITO DE BROWNIE</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/postre/vasitobrawnie.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Bizcocho caliente de chocolate, con nueces, cubierto por un helado de vainilla y con salsa de chocolate fundido.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">VASITO DE YOGUR Y MUESLI</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/postre/yogur.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Yogur con arándanos, plátano y muesli de avena.</p>
                  </div>
              </div>
            </div>
          </div>
      </div>
      </div>
      
      <footer style="background-color: #E31E27; margin-top: 30px; position:static; bottom: 0; width: 100%; height: 150px" class="d-flex flex-wrap justify-content-between align-items-center py-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span style="color: white;" class="mb-12 mb-md-0">© 2023 VIPS Company, Inc</span>
        </div>
        <ul class="nav col-md-4 d-flex align-items-center d-flex">
          <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/vips/"><img style="width: 60px;" src="../../../assets/img/face.png"></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/envips/"><img style="width: 60px;" src="../../../assets/img/insta.png"></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/VIPS"><img style="width: 70px;" src="../../../assets/img/twee.png"></a></li>
          
        </ul>
        
      </footer>
    </div>