<div style="background-color: #f2f2f4;">
    <div style="background-color: white;" class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-12 text-end">
            <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="ini()" >Inicio</button>
            <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="logOut()" >Desloguearse</button>
          </div>
        </header>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a style="color: #E31E27;" (click)="entrantes()" class="nav-link px-2">ENTRANTES</a></li>
          <li><a style="color: #E31E27;" (click)="ensaladas()" class="nav-link px-2">ENSALADAS</a></li>
          <li><a style="color: #777474;" class="nav-link px-2">PRINCIPALES</a></li>
          <li><a style="color: #E31E27;" (click)="sandwi()" class="nav-link px-3">SANDWICHES</a></li>
          <li><a style="color: #E31E27;" (click)="hambu()" class="nav-link px-3">HAMBURGUESAS</a></li>
          <li><a style="color: #E31E27;" (click)="postres()" class="nav-link px-3">POSTRES</a></li>
          <li><a style="color: #E31E27;" (click)="bebidas()" class="nav-link px-3">BEBIDAS</a></li>
        </ul>
      </div>
    
    <H1 style="margin: 100px; text-align: center;"> PRINCIPALES </H1>
    
    <div style="background-color: #f2f2f4;" class="container">
      <div class="row">
        <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">ALBÓNDIGAS CON CURRY</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/princi/albon.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Jugosas albóndigas de cerdo ibérico al curry masala sobre combinación de arroz salvaje y basmati, acompañadas de un rico pan de pita.</p>
                  </div>
              </div>
            </div>
          </div>
        <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">CARBONARA DE SORIA</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/princi/carbonara.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Sabrosos espaguetis con salsa carbonara, torreznos de Soria crujientes, trocitos de bacon y lascas de queso parmesano.</p>
                  </div>
              </div>
            </div>
          </div>
        <div style="margin-top: 60px;" class="col-sm-4">
          <div class="card">
            <div  class="card-body">
              <h5 class="card-title">COSTILLAR</h5>
              <div class="card-text">
              <img class="logo" src="../../../assets/img/princi/costilla.jpg" alt="login">
              <p class="card-text" style="margin-top: 30px;">Costillas de cerdo a la BBQ, con aros de cebolla, patatas fritas y salsa BBQ Chipotle.</p>
                </div>
            </div>
          </div>
        </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">TARTAR DE SALMÓN</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/princi/tartar.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Irresistibles dados de salmón marinado en aliño de soja y lima con aguacate, servido con crema agria y unas crujientes tostas de pan de cristal.
                    Los productos de la pesca crudos han sido previamente congelados a Tª ≤ de -20ºC, mínimo 24 horas.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">LA VILLAROY</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/princi/villa.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Pechuga de pollo crujiente al estilo sureño rellena de bechamel, con huevo frito y un toque picante de miel-sriracha. Acompañada de patatas fritas y salsa especial VIPS.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">WELLINGTON</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/princi/welin.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Crujiente hojaldre relleno de tierna carne de vacuno, jamón, queso cheddar, duxelle de champiñones y mostaza Dijon. Acompañado de un cremoso puré de patata y coliflor, portobello laminado y salsa española.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">PRESA IBÉRICA</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/princi/presa.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Presa ibérica con un innovador chimichurri de pistacho sobre puré cremoso de patata y coliflor, acompañado de un salteado de verduritas.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">SUPREMA DE POLLO</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/princi/suprema.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Pechuga de pollo a la plancha, ensalada de lechuga, pico de gallo y salsa vinagreta.</p>
                  </div>
              </div>
            </div>
          </div>
      </div>
      </div>
      
      <footer style="background-color: #E31E27; margin-top: 30px; position:static; bottom: 0; width: 100%; height: 150px" class="d-flex flex-wrap justify-content-between align-items-center py-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span style="color: white;" class="mb-12 mb-md-0">© 2023 VIPS Company, Inc</span>
        </div>
        <ul class="nav col-md-4 d-flex align-items-center d-flex">
          <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/vips/"><img style="width: 60px;" src="../../../assets/img/face.png"></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/envips/"><img style="width: 60px;" src="../../../assets/img/insta.png"></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/VIPS"><img style="width: 70px;" src="../../../assets/img/twee.png"></a></li>
          
        </ul>
        
      </footer>
    </div>