<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-12 text-end">
        <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="logOut()" >Desloguearse</button>
      </div>
    </header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Bienvenid@</h1>
        <p class="fs-5 text-body-secondary">{{ dataUser?.email}}</p>
      </div>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button (click)="carta()" class="btn mb-3" style="color: white; height: 90px; background-color: #E31E27"><h1>Carta</h1></button>
    <button (click)="cartaaler()" class="btn mb-3" style="color: white; height: 90px; background-color: #E31E27"><h1>Carta Alergenos</h1></button>
    <button (click)="descu()" class="btn mb-3" style="color: white; height: 90px; background-color: #E31E27"><h1>Descuentos</h1></button>
    <button class="btn mb-3" style="color: white; height: 90px; background-color: #E31E27"><h1>Buscanos</h1></button>
  </div>

  <footer style="background-color: #E31E27; position: absolute; bottom: 0px; width: 100%; height: 150px" class="d-flex flex-wrap justify-content-between align-items-center py-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span style="color: white;" class="mb-12 mb-md-0">© 2023 VIPS Company, Inc</span>
    </div>
    <ul class="nav col-md-4 d-flex align-items-center d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/vips/"><img style="width: 60px;" src="../../../assets/img/face.png"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/envips/"><img style="width: 60px;" src="../../../assets/img/insta.png"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/VIPS"><img style="width: 70px;" src="../../../assets/img/twee.png"></a></li>
      
    </ul>
    
  </footer>
  </body>