<div style="background-color: #f2f2f4;">
    <div style="background-color: white;" class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-12 text-end">
            <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="ini()" >Inicio</button>
            <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="logOut()" >Desloguearse</button>
          </div>
        </header>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a style="color: #E31E27;" (click)="entrantes()"class="nav-link px-2">ENTRANTES</a></li>
          <li><a style="color: #E31E27;" (click)="ensaladas()" class="nav-link px-2">ENSALADAS</a></li>
          <li><a style="color: #E31E27;" (click)="principales()" class="nav-link px-2">PRINCIPALES</a></li>
          <li><a style="color: #E31E27;" (click)="sandwi()" class="nav-link px-3">SANDWICHES</a></li>
          <li><a style="color: #777474;" class="nav-link px-3">HAMBURGUESAS</a></li>
          <li><a style="color: #E31E27;" (click)="postres()" class="nav-link px-3">POSTRES</a></li>
          <li><a style="color: #E31E27;" (click)="bebidas()" class="nav-link px-3">BEBIDAS</a></li>
        </ul>
      </div>
    
    <H1 style="margin: 100px; text-align: center;"> HAMBURGUESAS </H1>
    
    <div style="background-color: #f2f2f4;" class="container">
      <div class="row">
        <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">AGUACATE CHICKEN</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/hambu/aguacate.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Carne de vacuno, queso provolone y queso estilo americano fundidos, bacon, cebolla caramelizada, salsa mayonesa de chimichurri y rúcula en pan de mollete. Acompañada de guarnición a elegir y salsa mayonesa de chimichurri.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">AGUACATE CHICKEN</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/hambu/benedict.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Carne de vacuno, queso provolone y queso estilo americano fundidos, bacon, cebolla caramelizada, salsa mayonesa de chimichurri y rúcula en pan de mollete. Acompañada de guarnición a elegir y salsa mayonesa de chimichurri.</p>
                  </div>
              </div>
            </div>
          </div>
        <div style="margin-top: 60px;" class="col-sm-4">
          <div class="card">
            <div  class="card-body">
              <h5 class="card-title">BURRATÍSIMA</h5>
              <div class="card-text">
              <img class="logo" src="../../../assets/img/hambu/burrata.jpg" alt="login">
              <p class="card-text" style="margin-top: 30px;">Carne de vacuno con cremosa burrata, paleta ibérica crujiente, pesto toscano, pomodoro seco, tomate, rúcula y mayonesa de chimichurri en pan brioche tostado con dos sésamos. Acompañada de guarnición a elegir y salsa mayonesa de chimichurri.</p>
                </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">CHIC CHICKEN BBQ</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/hambu/chick.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Pollo crujiente, salsa BBQ chipotle sobre tomate, lechuga, pepinillo y salsa baconesa en pan brioche tostado con dos sésamos. Acompañada de guarnición a elegir y salsa BBQ chipotle.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">CLÁSICA</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/hambu/clasica.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Carne de vacuno, queso cheddar, lechuga, tomate y cebolla en pan brioche tostado con dos sésamos. Acompañada de guarnición a elegir.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">PAMPERA</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/hambu/pampera.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Carne de vacuno, queso provolone y queso estilo americano fundidos, bacon, cebolla caramelizada, salsa mayonesa de chimichurri y rúcula en pan de mollete. Acompañada de guarnición a elegir y salsa mayonesa de chimichurri.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">VEGAN BURGER</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/hambu/vegan.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Hamburguesa vegana de quinoa, zanahoria y puerro con aguacate, pimientos asados, salsa sweet chili, tomate y lechuga en pan de cristal. Acompañada de guarnición a elegir y salsa sweet chili.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">VIPS BURGUER</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/hambu/vips.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Carne de vacuno, queso estilo americano y cheddar fundidos, bacon crujiente, salsa BBQ ahumada, cebolla roja a la plancha, pepinillo y salsa baconesa en pan brioche tostado con dos sésamos. Acompañada de guarnición a elegir y salsa baconesa.</p>
                  </div>
              </div>
            </div>
          </div>
      </div>
      </div>
      
      <footer style="background-color: #E31E27; margin-top: 30px; position:static; bottom: 0; width: 100%; height: 150px" class="d-flex flex-wrap justify-content-between align-items-center py-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span style="color: white;" class="mb-12 mb-md-0">© 2023 VIPS Company, Inc</span>
        </div>
        <ul class="nav col-md-4 d-flex align-items-center d-flex">
          <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/vips/"><img style="width: 60px;" src="../../../assets/img/face.png"></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/envips/"><img style="width: 60px;" src="../../../assets/img/insta.png"></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/VIPS"><img style="width: 70px;" src="../../../assets/img/twee.png"></a></li>
          
        </ul>
        
      </footer>
    </div>