<div style="background-color: #f2f2f4;">
    <div style="background-color: white;" class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-12 text-end">
            <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="ini()" >Inicio</button>
            <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="logOut()" >Desloguearse</button>
          </div>
        </header>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a style="color: #E31E27;" (click)="gluten()" class="nav-link px-2">GLUTEN</a></li>
          <li><a style="color: #E31E27;" (click)="frutos()"class="nav-link px-2">FRUTOS SECOS</a></li>
          <li><a style="color: #E31E27;" (click)="lacteos()" class="nav-link px-2">LACTEOS</a></li>
          <li><a style="color: #E31E27;" (click)="pescado()" class="nav-link px-3">PESCADO</a></li>
          <li><a style="color: #777474;" class="nav-link px-3">SOJA</a></li>
        </ul>
      </div>
    
    <H1 style="margin: 100px; text-align: center;"> SIN SOJA </H1>
    
    <div style="background-color: #f2f2f4;" class="container">
        <div class="row">
            <div style="margin-top: 60px;" class="col-sm-4">
                <div class="card">
                  <div  class="card-body">
                    <h5 class="card-title">LOS ÁNGELES</h5>
                    <div class="card-text">
                    <img class="logo" src="../../../assets/img/ensa/angeles.jpg" alt="login">
                    <p class="card-text" style="margin-top: 30px;">Aguacate, mango, fresas, queso de cabra, queso feta, tomate cherry, cebolla roja y nueces, aliñada con vinagreta de lima y cilantro sobre una base de quinoa y mezcla de lechugas con brotes.</p>
                      </div>
                  </div>
                </div>
              </div>
            <div style="margin-top: 60px;" class="col-sm-4">
                <div class="card">
                  <div  class="card-body">
                    <h5 class="card-title">CESAR</h5>
                    <div class="card-text">
                    <img class="logo" src="../../../assets/img/ensa/cesar.jpg" alt="login">
                    <p class="card-text" style="margin-top: 30px;">Pechuga de pollo crujiente, queso estilo parmesano rallado, crujientes de queso Gran Moravia, aliñada con salsa César sobre una base de lechuga romana y otras mezclas, acompañada de barritas de focaccia.</p>
                      </div>
                  </div>
                </div>
              </div>
              <div style="margin-top: 60px;" class="col-sm-4">
                <div class="card">
                  <div  class="card-body">
                    <h5 class="card-title">VIPS BURGUER</h5>
                    <div class="card-text">
                    <img class="logo" src="../../../assets/img/hambu/vips.jpg" alt="login">
                    <p class="card-text" style="margin-top: 30px;">Carne de vacuno, queso estilo americano y cheddar fundidos, bacon crujiente, salsa BBQ ahumada, cebolla roja a la plancha, pepinillo y salsa baconesa en pan brioche tostado con dos sésamos. Acompañada de guarnición a elegir y salsa baconesa.</p>
                      </div>
                  </div>
                </div>
              </div>
              <div style="margin-top: 60px;" class="col-sm-4">
                <div class="card">
                  <div  class="card-body">
                    <h5 class="card-title">CHIC CHICKEN BBQ</h5>
                    <div class="card-text">
                    <img class="logo" src="../../../assets/img/hambu/chick.jpg" alt="login">
                    <p class="card-text" style="margin-top: 30px;">Pollo crujiente, salsa BBQ chipotle sobre tomate, lechuga, pepinillo y salsa baconesa en pan brioche tostado con dos sésamos. Acompañada de guarnición a elegir y salsa BBQ chipotle.</p>
                      </div>
                  </div>
                </div>
              </div>
              <div style="margin-top: 60px;" class="col-sm-4">
                <div class="card">
                  <div  class="card-body">
                    <h5 class="card-title">VEGAN BURGER</h5>
                    <div class="card-text">
                    <img class="logo" src="../../../assets/img/hambu/vegan.jpg" alt="login">
                    <p class="card-text" style="margin-top: 30px;">Hamburguesa vegana de quinoa, zanahoria y puerro con aguacate, pimientos asados, salsa sweet chili, tomate y lechuga en pan de cristal. Acompañada de guarnición a elegir y salsa sweet chili.</p>
                      </div>
                  </div>
                </div>
              </div>
              <div style="margin-top: 60px;" class="col-sm-4">
                <div class="card">
                  <div  class="card-body">
                    <h5 class="card-title">CUBANO</h5>
                    <div class="card-text">
                    <img class="logo" src="../../../assets/img/sand/cubano.jpg" alt="login">
                    <p class="card-text" style="margin-top: 30px;">Pulled pork, queso emmental y queso fundido, jamón cocido, mostaza, mayonesa y pepinillo, en pan maíz y semillas de calabaza. Servido con salsa mostaza y miel. Guarnición a elegir, pídelo con patatas gajo.</p>
                      </div>
                  </div>
                </div>
              </div>
            <div style="margin-top: 60px;" class="col-sm-4">
                <div class="card">
                  <div  class="card-body">
                    <h5 class="card-title">TOSCANA</h5>
                    <div class="card-text">
                    <img class="logo" src="../../../assets/img/ensa/toscana.jpg" alt="login">
                    <p class="card-text" style="margin-top: 30px;">Pechuga de pollo a la plancha, queso gorgonzola, tomate fresco y tomate seco, aliñada con vinagreta de hierbas sobre una base de mezcla de lechugas con brotes y acompañada de barritas de focaccia.</p>
                      </div>
                  </div>
                </div>
              </div>
              <div style="margin-top: 60px;" class="col-sm-4">
                <div class="card">
                  <div  class="card-body">
                    <h5 class="card-title">WAIKIKI</h5>
                    <div class="card-text">
                    <img class="logo" src="../../../assets/img/ensa/waikiki.jpg" alt="login">
                    <p class="card-text" style="margin-top: 30px;">Tiras de vacuno marinado a la plancha, mango, pepino, pimiento rojo, cebolla roja, anacardos y un toque de hierbabuena, aliñada con salsa sweet chili y cilantro sobre láminas de wonton y una base de tallarines y mezcla de lechugas con brotes.</p>
                      </div>
                  </div>
                </div>
              </div>
            <div style="margin-top: 60px;" class="col-sm-4">
                <div class="card">
                  <div  class="card-body">
                    <h5 class="card-title">PRESA IBÉRICA</h5>
                    <div class="card-text">
                    <img class="logo" src="../../../assets/img/princi/presa.jpg" alt="login">
                    <p class="card-text" style="margin-top: 30px;">Presa ibérica con un innovador chimichurri de pistacho sobre puré cremoso de patata y coliflor, acompañado de un salteado de verduritas.</p>
                      </div>
                  </div>
                </div>
              </div>
              <div style="margin-top: 60px;" class="col-sm-4">
                <div class="card">
                  <div  class="card-body">
                    <h5 class="card-title">SUPREMA DE POLLO</h5>
                    <div class="card-text">
                    <img class="logo" src="../../../assets/img/princi/suprema.jpg" alt="login">
                    <p class="card-text" style="margin-top: 30px;">Pechuga de pollo a la plancha, ensalada de lechuga, pico de gallo y salsa vinagreta.</p>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
      
        <footer style="background-color: #E31E27;  margin-top: 30px; position:static; bottom: 0; width: 100%; height: 150px; text-align: center;" class="d-flex flex-wrap justify-content-between align-items-center py-4 border-top">
          <div style="background-color: #E31E27; position:static; top: 250px; bottom: 0;" class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-3">
              <!-- Facebook -->
              <a class="btn btn-floating m-1" href="#!" role="button" href="https://www.facebook.com/vips/"
                ><img style="width: 60px;" src="../../../assets/img/face.png"></a>
        
              <!-- Twitter -->
              <a class="btn btn-floating m-1" href="#!" role="button" href="https://www.instagram.com/envips/"
                ><img style="width: 60px;" src="../../../assets/img/insta.png"></a>
        
              <!-- Google -->
              <a class="btn btn-floating m-1" href="#!" role="button" href="https://twitter.com/VIPS"
                ><img style="width: 70px;" src="../../../assets/img/twee.png"></a>
              
            
            </section>
        
          </div>