<div style="background-color: #f2f2f4;">
    <div style="background-color: white;" class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-12 text-end">
            <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="logOut()" >Desloguearse</button>
          </div>
        </header>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a style="color: #E31E27;" (click)="entrantes()" class="nav-link px-2">ENTRANTES</a></li>
          <li><a style="color: #777474;" class="nav-link px-2">ENSALADAS</a></li>
          <li><a style="color: #E31E27;" (click)="principales()" class="nav-link px-2">PRINCIPALES</a></li>
          <li><a style="color: #E31E27;" (click)="sandwi()" class="nav-link px-3">SANDWICHES</a></li>
          <li><a style="color: #E31E27;" (click)="hambu()" class="nav-link px-3">HAMBURGUESAS</a></li>
          <li><a style="color: #E31E27;" (click)="postres()" class="nav-link px-3">POSTRES</a></li>
          <li><a style="color: #E31E27;" (click)="bebidas()" class="nav-link px-3">BEBIDAS</a></li>
        </ul>
      </div>
    
    <H1 style="margin: 100px; text-align: center;"> ENSALADAS </H1>
    
    <div style="background-color: #f2f2f4;" class="container">
      <div class="row">
        <div class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">LOS ÁNGELES</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/ensa/angeles.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Aguacate, mango, fresas, queso de cabra, queso feta, tomate cherry, cebolla roja y nueces, aliñada con vinagreta de lima y cilantro sobre una base de quinoa y mezcla de lechugas con brotes.</p>
                  </div>
              </div>
            </div>
          </div>
        <div class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">CESAR</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/ensa/cesar.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Pechuga de pollo crujiente, queso estilo parmesano rallado, crujientes de queso Gran Moravia, aliñada con salsa César sobre una base de lechuga romana y otras mezclas, acompañada de barritas de focaccia.</p>
                  </div>
              </div>
            </div>
          </div>
        <div  class="col-sm-4">
          <div class="card">
            <div  class="card-body">
              <h5 class="card-title">LUISIANA</h5>
              <div class="card-text">
              <img class="logo" src="../../../assets/img/ensa/luisiana.jpg" alt="login">
              <p class="card-text" style="margin-top: 30px;">Dados de pollo glaseados en salsa de whiksy y melaza, bacon ahumado, pimiento rojo y cebolla frita, aliñada con salsa ranch sobre una base de mezcla de lechugas con brotes.</p>
                </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">THAI</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/ensa/thai.png" alt="login">
                <p class="card-text" style="margin-top: 30px;">Pechuga de pollo a la plancha marinada en salsa Satay, arroz salvaje y basmati, tomate Cherry, pepino, brotes, anacardos y sésamo sobre mezcla de lechugas.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">TOSCANA</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/ensa/toscana.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Pechuga de pollo a la plancha, queso gorgonzola, tomate fresco y tomate seco, aliñada con vinagreta de hierbas sobre una base de mezcla de lechugas con brotes y acompañada de barritas de focaccia.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">WAIKIKI</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/ensa/waikiki.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Tiras de vacuno marinado a la plancha, mango, pepino, pimiento rojo, cebolla roja, anacardos y un toque de hierbabuena, aliñada con salsa sweet chili y cilantro sobre láminas de wonton y una base de tallarines y mezcla de lechugas con brotes.</p>
                  </div>
              </div>
            </div>
          </div>
      </div>
      </div>
      
      <footer style="background-color: #E31E27; margin-top: 30px; position:static; bottom: 0; width: 100%; height: 150px" class="d-flex flex-wrap justify-content-between align-items-center py-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span style="color: white;" class="mb-12 mb-md-0">© 2023 VIPS Company, Inc</span>
        </div>
        <ul class="nav col-md-4 d-flex align-items-center d-flex">
          <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/vips/"><img style="width: 60px;" src="../../../assets/img/face.png"></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/envips/"><img style="width: 60px;" src="../../../assets/img/insta.png"></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/VIPS"><img style="width: 70px;" src="../../../assets/img/twee.png"></a></li>
          
        </ul>
        
      </footer>
    </div>