<body>
<div style="background-color: white;" class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-12 text-end">
        <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="ini()" >Inicio</button>
        <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="logOut()" >Desloguearse</button>
      </div>
    </header>
  </div>


  <main style=" text-align: center;" class="px-3">
    <h1>DESCUENTO EMPLEADOS!</h1>
    <img style="height: 300px;" class="logo" src="../../../assets/img/qr.png">
    <p class="lead">
      <a style="padding: 10%;" href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Descuentos solo para empleados de alsea , desde hace tiempo que somos líderes en el mercado desde hace tiempo gracias a vosotros! A si que muestrale este QR al camarero para que aplique el descuento y paga solo la mitad.</a>
    </p>
  </main>
  
</body>

<footer style="background-color: #E31E27; position:static; bottom: 0; width: 100%; height: 150px; text-align: center;" class="d-flex flex-wrap justify-content-between align-items-center py-4 border-top">
  <div style="background-color: #E31E27; position:static; top: 250px; bottom: 0;" class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-3">
      <!-- Facebook -->
      <a class="btn btn-floating m-1" href="#!" role="button" href="https://www.facebook.com/vips/"
        ><img style="width: 60px;" src="../../../assets/img/face.png"></a>

      <!-- Twitter -->
      <a class="btn btn-floating m-1" href="#!" role="button" href="https://www.instagram.com/envips/"
        ><img style="width: 60px;" src="../../../assets/img/insta.png"></a>

      <!-- Google -->
      <a class="btn btn-floating m-1" href="#!" role="button" href="https://twitter.com/VIPS"
        ><img style="width: 70px;" src="../../../assets/img/twee.png"></a>
      
    
    </section>

  </div>