<div style="background-color: #f2f2f4;">

<div style="background-color: white;" class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-12 text-end">
        <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="ini()" >Inicio</button>
        <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="logOut()" >Desloguearse</button>
      </div>
    </header>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a style="color: #E31E27;" (click)="entrantes()" class="nav-link px-2">ENTRANTES</a></li>
      <li><a style="color: #E31E27;" (click)="ensaladas()" class="nav-link px-2">ENSALADAS</a></li>
      <li><a style="color: #E31E27;" (click)="principales()" class="nav-link px-2">PRINCIPALES</a></li>
      <li><a style="color: #E31E27;" (click)="sandwi()" class="nav-link px-3">SANDWICHES</a></li>
      <li><a style="color: #E31E27;" (click)="hambu()" class="nav-link px-3">HAMBURGUESAS</a></li>
      <li><a style="color: #E31E27;" (click)="postres()" class="nav-link px-3">POSTRES</a></li>
      <li><a style="color: #E31E27;" (click)="bebidas()" class="nav-link px-3">BEBIDAS</a></li>
    </ul>
  </div>

<H1 style="margin: 100px; text-align: center;"> Lo más bendido </H1>


<div style="background-color: #E31E27 ;width: 100%;" id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="container">
  <div  class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/img/ensa/cesar.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/sand/cachopo.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/hambu/benedict.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/sand/piri.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  
  <footer style="background-color: #E31E27; margin-top: 60px; position:static; bottom: 0; width: 100%; height: 150px" class="d-flex flex-wrap justify-content-between align-items-center py-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span style="color: white;" class="mb-12 mb-md-0">© 2023 VIPS Company, Inc</span>
    </div>
    <ul class="nav col-md-4 d-flex align-items-center d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/vips/"><img style="width: 60px;" src="../../../assets/img/face.png"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/envips/"><img style="width: 60px;" src="../../../assets/img/insta.png"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/VIPS"><img style="width: 70px;" src="../../../assets/img/twee.png"></a></li>
      
    </ul>
    
  </footer>

</div>