<div style="background-color: #f2f2f4;">
    <div style="background-color: white;" class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-12 text-end">
            <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="ini()" >Inicio</button>
            <button style="background-color: #E31E27; color: white;" class="btn me-2" (click)="logOut()" >Desloguearse</button>
          </div>
        </header>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a style="color: #777474;" class="nav-link px-2">ENTRANTES</a></li>
          <li><a style="color: #E31E27;" (click)="ensaladas()" class="nav-link px-2">ENSALADAS</a></li>
          <li><a style="color: #E31E27;" (click)="principales()" class="nav-link px-2">PRINCIPALES</a></li>
          <li><a style="color: #E31E27;" (click)="sandwi()" class="nav-link px-3">SANDWICHES</a></li>
          <li><a style="color: #E31E27;" (click)="hambu()" class="nav-link px-3">HAMBURGUESAS</a></li>
          <li><a style="color: #E31E27;" (click)="postres()" class="nav-link px-3">POSTRES</a></li>
          <li><a style="color: #E31E27;" (click)="bebidas()" class="nav-link px-3">BEBIDAS</a></li>
        </ul>
      </div>
    
    <H1 style="margin: 100px; text-align: center;"> ENTRANTES </H1>
    
    <div style="background-color: #f2f2f4;" class="container">
      <div class="row">
        <div class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">ALITAS</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/entra/alitas.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Alitas de pollo marinadas en salsa BBQ Chipotle y salsa sweet chili sobre patatas fritas, acompañadas de salsa ranch.</p>
                  </div>
              </div>
            </div>
          </div>
        <div class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">AROS</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/entra/aros.png" alt="login">
                <p class="card-text" style="margin-top: 30px;">Aros de cebolla con queso estilo parmesano, orégano, cayena con salsa mostaza y miel y especial VIPS.</p>
                  </div>
              </div>
            </div>
          </div>
        <div  class="col-sm-4">
          <div class="card">
            <div  class="card-body">
              <h5 class="card-title">BRAVIPS</h5>
              <div class="card-text">
              <img class="logo" src="../../../assets/img/entra/bravips.png" alt="login">
              <p class="card-text" style="margin-top: 30px;">Patatas en espiral con salsas mayo-VIPS y salsa chili sriracha.</p>
                </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">COMBO</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/entra/combo.jpg" alt="login">
                <p class="card-text" style="margin-top: 30px;">Chicken Fingers, con salsa BBQ Chipotle, quesadilla de Jamón y Queso, crema agria y guacamole, Alitas Chili BBQ y Nachos Tex-Mex.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">CROQUETAS</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/entra/croquetas.png" alt="login">
                <p class="card-text" style="margin-top: 30px;">Cremosas croquetas de jamón ibérico coronadas con paleta ibérica y un toque de salsa mayo-sriracha.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">CRUJIENTES COCHINITA</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/entra/crujientecochinita.png" alt="login">
                <p class="card-text" style="margin-top: 30px;">Cochinita pibil, guacamole, crema agria y cebolla encurtida sobre nachos de maíz crujientes.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">CRUJIENTES MIXTAS</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/entra/crujientes.png" alt="login">
                <p class="card-text" style="margin-top: 30px;">Dados de salmón y aguacate marinados en salsa Yakiniku, mayo-sriracha y cebolla encurtida sobre nachos de maíz crujientes.
                    Los productos de la pesca crudos han sido previamente congelados a Tª ≤ de -20ºC, mínimo 24 horas.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">FINGERS</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/entra/fingers.png" alt="login">
                <p class="card-text" style="margin-top: 30px;">Fingers de pollo Cornflakes con salsa BBQ Chipotle y salsa Mostaza & Miel.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">NACHOS GUACAMOLE</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/entra/nachosgua.png" alt="login">
                <p class="card-text" style="margin-top: 30px;">Nachos de maíz acompañados de Guacamole y pico de gallo.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">NACHOS TEX MEX</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/entra/nachosmex.png" alt="login">
                <p class="card-text" style="margin-top: 30px;">Nachos de maíz, mezcla de quesos, cebolla roja, chorizo picado, chiles jalapeños, cilantro y crema agria.</p>
                  </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 60px;" class="col-sm-4">
            <div class="card">
              <div  class="card-body">
                <h5 class="card-title">QUESADILLAS</h5>
                <div class="card-text">
                <img class="logo" src="../../../assets/img/entra/quesadillas.png" alt="login">
                <p class="card-text" style="margin-top: 30px;">Dos tortillas de harina de trigo, jamón York, queso Cheddar fundido, pico de gallo, crema agria y guacamole.</p>
                  </div>
              </div>
            </div>
          </div>
      </div>
      </div>
      
      <footer style="background-color: #E31E27; margin-top: 30px; position:static; bottom: 0; width: 100%; height: 150px" class="d-flex flex-wrap justify-content-between align-items-center py-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span style="color: white;" class="mb-12 mb-md-0">© 2023 VIPS Company, Inc</span>
        </div>
        <ul class="nav col-md-4 d-flex align-items-center d-flex">
          <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/vips/"><img style="width: 60px;" src="../../../assets/img/face.png"></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/envips/"><img style="width: 60px;" src="../../../assets/img/insta.png"></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/VIPS"><img style="width: 70px;" src="../../../assets/img/twee.png"></a></li>
          
        </ul>
        
      </footer>
    </div>